<div class="message operator clearfix animated fadeInUp">
	<div class="avatar">
		<img src="/public/images/sebi.jpg" alt="">
	</div>
	<div class="message-bubble">
		<p class="user m-n">Sebastian</p>
		<div class="text">
			<span class="message-text"><%= message %></span>
		</div>
	</div>
</div>
