<div class="message special animated fadeInUp">
	<div id="payment-details">
		<form action="" class="form">
			<div class="form-group">
				<label for="">Personal details</label>
				<input type="text" class="form-control name" placeholder="Name">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Email">
			</div>
			<hr>
			<div class="form-group">
				<label for="">Payment details</label>
				<input type="text" class="form-control" placeholder="Card number">
			</div>
			<div class="form-group clearfix">
				<div class="pull-left">
					<input type="text" class="form-control" placeholder="Expiration month">
				</div>
				<div class="pull-right">
					<input type="text" class="form-control" placeholder="Expiration year">
				</div>
			</div>
			<div class="form-group text-center m-t-lg m-b-none">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>
