<div class="message user clearfix animated fadeInUp">
	<div class="message-bubble">
		<p class="user m-n">You</p>
		<div class="text">
			<span class="message-text"><%= message %></span>
		</div>
	</div>
</div>
